<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<form action="Show_Info_CB">
    <input type="tel" name="MACH" id="">
    <input type="submit" value="Liệt kê">
</form>
