@model App.DBModels.HINHANH

@{
    ViewData["Title"] = "Create";
    var masp = ViewBag.DefaultMASPValue.ToString();
    var tensp = ViewBag.Product.TENSP.ToString();
}

<h1>Create</h1>

<h4>Tạo mới hình ảnh cho Sản phẩm có ID: @masp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateImg" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TENHINHANH" class="control-label"></label>
                <input asp-for="TENHINHANH" class="form-control" />
                <span asp-validation-for="TENHINHANH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MASP" class="control-label"></label>
                <select asp-for="MASP" class="form-control">
                    <option value="@ViewBag.DefaultMASPValue" selected="selected">@tensp</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LINK" class="control-label"></label>
                <input type="file" asp-for="LINK" class="form-control" />
                <span asp-validation-for="LINK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
