@model App.DBModels.SANPHAM

@{
    ViewData["Title"] = "Tạo mới sản phẩm";
}

<h1>Tạo mới sản phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TENSP" class="control-label"></label>
                <input asp-for="TENSP" class="form-control" />
                <span asp-validation-for="TENSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GIAGOC" class="control-label"></label>
                <input asp-for="GIAGOC" class="form-control" />
                <span asp-validation-for="GIAGOC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAPL" class="control-label"></label>
                <select asp-for="MAPL" class="form-control" asp-items="ViewBag.MAPL"></select>
            </div>
            <div class="form-group">
                <label asp-for="MOTA" class="control-label"></label>
                <textarea rows="5" asp-for="MOTA" class="form-control"></textarea>
                <span asp-validation-for="MOTA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GIABAN" class="control-label"></label>
                <input asp-for="GIABAN" class="form-control" />
                <span asp-validation-for="GIABAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PLTHOITRANG" class="control-label"></label>
                <select asp-for="PLTHOITRANG" class="form-control" asp-items="@(new SelectList(new List<SelectListItem>
                {
                    new SelectListItem { Text = "Nam", Value = "Nam" },
                    new SelectListItem { Text = "Nữ", Value = "Nữ" },
                    new SelectListItem { Text = "Trẻ em", Value = "Trẻ em" }
                }, "Value", "Text"))"></select>
                <span asp-validation-for=" PLTHOITRANG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImg" class="control-label"></label>
                <input type="file" asp-for="MainImg" class="form-control" />
                <span asp-validation-for="MainImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="validateForm()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa-solid fa-backward"></i> Danh sách sản phẩm</a>
</div>


@section Scripts {
    @{
        var summernote = new DAFW_IS220.Models.Summernote("#MOTA");
    }
    <partial name="_Summernote" model="summernote" />
}
