@using DB_CK;
@model HANHKHACH

<form action="InsertHK">
   <input type="text" name="MAHK" id="">
   <input type="text" name="HOTEN" id="">
   <input type="text" name="DIACHI" id="">
   <input type="text" name="DIENTHOAI" id="">
   <input type="submit" value="Thêm">
</form>