
.container_info_product{
    display: flex;
    background-color: #f9f9f9;
    /* padding: 16px; */
}
.product_image{
    padding: 16px;
    display: flex;
}
.product_image__main_image__img{
    width: 100%;
}

.product_image__list_mini_image__item__img{
    height: 86px;
    width: 3.75rem;
    
    margin: 0px 9px 10px 9px;
} 
.detail_info_product{
    padding: 16px;
    
}

.detail_info_product__price__info_price{
    padding-bottom: 12px;
}
.detail_info_product__price__css_chung{  
    padding: 16px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
#color_1{
    background-color: black;
}
#color_2{
    background-color: yellow;
}
#color_3{
    background-color: green;
}
.check_color{ 
    position: absolute;
    opacity: 0; 
    width: 100%;
    height: 30px;
}
.color_icon{
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 1.5rem;
}
.detail_info_product__color__choose{
    margin-top: 8px;
    display: flex;
} 
.detail_info_product__color__item{
    margin-right: 8px;
    position: relative;
} 
.detail_info_product__size__item{
    margin-right: 8px;
    /* phải dùng position: relative; thì .check_size dùng position: absolute; mới hoạt động đúng  */
    position: relative;
}
.check_size{ 
    position: absolute;
    opacity: 0; 
    height: 1.875rem;
    /* lấy width theo thẻ label ở dưới*/
    width: 100%;
}
.detail_info_product__size__choose{
    display: flex;
}
.size_icon{ 
    /* height: 1.875rem;
    width: 2.3rem; */
    border-radius: 1.5rem;
    border: 1px solid rgb(194, 194, 194);
    padding: 3px 12px;
}
.detail_info_product__size__item__text{ 
    background-color: black; 
    /* giúp hiển thị chữ trong label, resize kích thước trùng với với label */
    -webkit-background-clip: text;
}
.detail_info_product__quantity__input_text{
    width: 3.125rem;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.detail_info_product__quantity__adjust{
    border-radius: 5px;
    border: none;
}
#them_hang {
    border: 1px solid black ;
    display: flex; 
    align-items: center; 
    margin-right: 10px; 
    padding: 8px 8px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: black;
    color: white;
}

#mua_hang{
    border: 1px solid black ;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 8px 8px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    color: black;
}
#fav{
    border: 1px solid black ;
    padding: 16px 16px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    color: black;
    margin-left: 10px;
}
.detail_info_product_button_detail{
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.nav-item a{
    font-size: 14px;
    color:black;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.detail_info_product_tab_body_gioi-thieu {
    margin-top: 20px;
    font-size: 14px;
    font-family: sans-serif;
}
.product-related {
    margin-bottom: 50px;
}
.product-related-title{
    margin: 20px;
}
.product-related-title p{
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #221F20;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-related-item {
    width: 20%;
    text-align: center;
    padding:0 6px;
    
}
.product-related-item img {
    width: 100%;
}
.product-related-item{
    
    font-size: 14px;
    color: #333;
}
#item-name {
    margin-bottom: 0;
    padding-top: 20px;
    font-weight: light;
    color: #746c6c ;
}
/*****************footer*/

/* -------------------------------------- */




.container_footer{
    background-color: #D9D9D9;
  }
  .footer__contact_info_ul{
    text-decoration: none; 
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .contact_info__icon{
    font-size: 25px;
    margin-right: 10px;
  }
  .footer__policy_ul{
    text-decoration: none; 
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .container_footer{
    background-color: #D9D9D9;
  }
  .container_footer_in{
    padding: 40px 40px 30px;
    padding-left: 80px;
  }
  .foooter__contact_info_li{
    margin-top: 10px; 
  }
  .footer__policy_li{
    margin-top: 10px;
  }
  .bottom_footer{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: white;
  } 
  
  .footer__policy_li_link:hover {
    text-decoration: underline;
    
  }
  
  .footer__policy_li_link {
    text-decoration: none;
    color: black;
  }
  
  .contact_info__icon {
    color: black;
  }
  
  .container_all {
    background-color: #D9D9D9;
  }
  
  .btn_sign_up {
    font-weight: 600;
    border-color: black;
  }
