/* header */
:root {
    --value_radius__header_search: 15px;
    --value_radius__product_item: 4px;
    --color_search_bg: #ededed;
    --color_search_border_div_css: #cccccc;
}

.header_body__search {
    display: flex;
    justify-content: center;
}

.header_body__search__button {
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: calc(var(--value_radius__header_search) - 3px);
    background-color: orange;
    padding: 8px;
}

.header_body__search__input {
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: var(--value_radius__header_search);
    background-color: var(--color_search_bg);
    flex: 1;
}

.header_body__search {
    padding-left: 3%;
}

.header_body__search__div_css {
    background-color: var(--color_search_bg);
    padding: 3px 3px 3px 10px;
    border-radius: var(--value_radius__header_search);
    border: 1px solid var(--color_search_border_div_css);
    align-self: center;
    width: 70%;
    display: flex;
}

a,
button {
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: black;
}

.header_body__option_and_info {
    display: flex;
    justify-content: center;
}

.header_body__option_and_info__button {
    background-color: aliceblue;
    padding: 0px 10px;
    border-radius: 15px;
}

.header_body__option_and_info__div_css {
    display: flex;
    align-content: center;
    width: 70%;
    justify-content: space-around;
    margin: 10px 0px;
}

.header_body__option_and_info__user__div_css {
    display: flex;
}

.header_body__option_and_info__user__text {
    display: flex;
    flex-direction: column;

    margin-left: 6px;
}

.header_body__option_and_info__user__text_taikhoan {
    font-size: 11px;
}

.header_body__option_and_info__user__text_xinchao {
    font-weight: 600;
}

.caret_down_css {
    align-self: center;
    margin-left: 10px;
}

.header_navigation__ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.header_navigation {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(227, 227, 227);
}

.header_navigation__text {
    padding: 15px 12px;
    font-weight: 550;
}

.header_navigation__text:hover {
    color: orange;
}

.header_navigation__ul {
    padding: 0px;
    margin: 0px;
}

.header_body {
    padding: 15px 0px;
}

.header_body__logo {
    display: flex;
}

.header_block {
    border-top: 15px solid orange;
}

.carousel_img {
    border-radius: 10px;
}

.header_body__option_and_info__user__div_css:hover .header_body__option_and_info__user__select_login_or_logout {
    display: block;
}

.header_body__option_and_info__user__select_login_or_logout {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-top: 44px;
    display: none;
    justify-content: flex-end;
    margin-left: 14px;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header_body__option_and_info__user__select_login_or_logout::before {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 12px;
    width: 1450px;
    top: -10px;
    left: -10px;
}

.header_body__option_and_info__user__select_login_or_logout__in {
    padding: 6px 13px;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.header_body__option_and_info__user__select_login_or_logout__in:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*body*/
.address_box {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
}

#Payment-result
{
    margin-top: 44px;
    text-align: center;
}

.address_add_button {
    padding: 12px 25px;
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 20px;
    color: black;
}

.address_update {
    margin-top: 20px;
}

.address_confirm_button {
    float: right;
}

.address_cancel_button {
    float: right;
    margin-right: 15px;
}

.product_list {
    margin-top: 20px;
}

table {
    width: 100%;
}

tr {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.payment_product {
    width: 50%;
    height: 50%;
    padding: 7px 0;
}

.vertical_align_center {
    display: flex;
    align-items: center;
}

.horizontal_align_right {
    justify-content: end;
}

.discount_price {
    color: red;
}

.button_confirm {
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #000;
    border-style: none;
    border-radius: 5px;
    padding: 15px 30px;
}

.div-link-info-van-chuyen{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.button_confirm:hover {
    background-color: rgba(0, 0, 0, 80%);
}

.button_confirm {
    margin-bottom: 24px;
    margin-top: 16px;
}